/* purgecss start ignore */
@import "tailwindcss/base.css"
@import "tailwindcss/components.css"
@import "froala-editor/css/froala_style.min.css"
@import "buttons.pcss"
@import "documentation.pcss"
/* purgecss end ignore */

@import "theme.pcss"

@import "tailwindcss/utilities.css"
