<h3 class="text-2xl text-center my-2">Se connecter</h3>
{{ form_ajax('onSignin') }}
<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="userSigninLogin">{{ loginAttributeLabel }}</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           name="login"
           type="text"
           id="userSigninLogin"
           placeholder="Saisissez votre {{ loginAttributeLabel|lower }}" />
</div>

<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="userSigninPassword">Mot de passe</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
       name="password"
        type="password"
        class="form-control"
        id="userSigninPassword"
        placeholder="******************" />
</div>

{% if rememberLoginMode == 'ask' %}
<div class="form-group">
    <div class="checkbox">
        <label><input name="remember" type="checkbox" value="1">Rester connecté</label>
    </div>
</div>
{% endif %}

<div class="flex items-center justify-between">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Connexion
    </button>
    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{ 'user/forgot-password'|page }}">
        Mot de passe oublié?
    </a>
</div>

{{ form_close() }}
